.smallScaleBanner {
  object-fit: cover;
  width: auto;
  height: auto;
  width: 100%;
  height: 250px;
  vertical-align: middle;
    }
.accordianColor{
     background-color:#e0001b
;
    color:white;
    
}
.historyPageBanner {
  object-fit: cover;
  width: 100%;
  height: 250px;
  vertical-align: middle;
    }

