.smallScaleBanner {
  object-fit: cover;
  width: auto;
  height: auto;
  width: 100%;
  height: 250px;
  vertical-align: middle;
    }

.historyPageBanner {
  object-fit: cover;
  width: 100%;
  height: 250px;
  vertical-align: middle;
    }

